.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    top: 40px;
}

.selected-entry {
    padding: 2px;
    display: flex;
    background-color: lightgray;
    width: fit-content;
    border-radius: 2px;
    margin: 2px;
}

.large-selected-entry {
    padding: 10px;
    border-radius: 4px;
}


#search-results-container {
    max-height: 250px;
    width: 100%;
    overflow-y: scroll;
}

.deselect-button {
    cursor: pointer;
    margin: auto 3px;
}