.announcement-display {
    display: flex;
    background-color: rgb(247, 182, 61);
    width: 100%;
    padding: 3px 0px;
    font-size: large;
}

.announcement-display i {
    margin: 0px 10px;
}

.announcement-context-box {
    display: flex;
    margin-right: auto;
}

.announcement-hide-box {
    font-size: large;
}
